* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .menuIcon{
    margin-right: 10px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: #1e552f;
    margin: auto -16px;
    padding: 12px 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

  .rateusbutton {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  
 