@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  color: #4d4d4d;
}

.container  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.add_btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  margin-top: 10px;
}

#title {
  text-align: center;
}

#birds {
  border-collapse: collapse;
  border: 3px solid #ddd;
  margin: 10px 50px;
}

.grey_button {
  background-color: grey;
 }

 .red_button {
 background-color: rgb(166, 61, 61);
 }

#birds td,
#birds th {
  border: 1px solid #ddd;
  padding: 12px;
}

#birds tr:hover {
  background-color: #ddd;
}

#birds th {
  padding: 10px;
  text-align: center;
  color: #4d4d4d;
}

.operation {
  text-align: center;
}

.button {
  border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.button:active {
  border: 1px solid blue;
}


.table_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 50px;
}

.table_title_container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.table_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}



.table_subtitle {
margin-top: 5px;
}